@font-face {
    font-family: 'Redaction50';
    src: url('../fonts/Redaction_50-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction50';
    src: url('../fonts/Redaction_50-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction70';
    src: url('../fonts/Redaction_70-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction70';
    src: url('../fonts/Redaction_70-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction100';
    src: url('../fonts/Redaction_100-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redaction100';
    src: url('../fonts/Redaction_100-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

