@import url('./fonts.css');
@import url('./variables.css');



body {
    background-color: var(--bg-color);
    margin: 70px;
    font-family: 'Redaction100';
    font-size: 30px;
    color: var(--font-color);
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 1.2vh;
    height: 1.2vh;
    color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: #fbff15;

}


/* -------- HOME -------- */
h1,
h2 {
    text-align: center;
    text-transform: uppercase;
    /* margin-left: 28vw;
    margin-right: 28vw; */
    font-family: 'Redaction50';
}

h1 {
    font-size: 1.45em;
    margin-bottom: 1em;
    margin-top: 37vh;
}

h2 {
    font-size: 1em;
    line-height: 1.3;
}


/* -------- HOME BUTTON -------- */

header {
    height: 138px;
}

button {
    position: absolute;
    top: 35px;
    left: 70px 8vw;
    text-transform: uppercase;
    font-size: 0.7em;
    width: fit-content;
    border: none;
    background-color: unset;
    text-align: left;
    line-height: 1;
    color: var(--font-color);
}

button>a {
    text-decoration: none;
    font-family: 'Redaction100';
    font-weight: 800;
    color: var(--font-color);
}

button:visited,
button:active,
button:hover,
a:visited,
a:active,
a:hover {
    color: var(--font-color);
}


/* -------- GLOBAL STYLES -------- */

h3,
h4 {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-family: 'Redaction70';
}

h3 {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 8vh;
}

h4 {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 12px;
    text-indent: 25px;
    font-size: 0.8em;
    text-align: justify;
    font-family: 'Redaction70';
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    color: var(--font-color);
}

sup {
    cursor: help;
}

hr {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 55vw;
}

#main {
    position: relative;
}

.colonne1 {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 8vh;
    font-size: 1.15em;
    width: 55vw;
}

.colonne2,
.colonne3 {
    text-indent: unset;
    line-height: 1.3;
    font-family: 'Redaction100';
}

.colonne2 {
    display: none;
    position: absolute;
    right: 44vw;
    width: 35vw;
    top: 6vh;
    text-indent: unset;
    font-size: 0.95em;
    hyphens: auto;
    -webkit-hyphens: auto;
}

.colonne3 {
    display: none;
    position: absolute;
    width: 20vw;
    top: 20vh;
    right: 8vw;
    text-indent: unset;
    font-size: 0.75em;
    hyphens: auto;
    -webkit-hyphens: auto;
}

#aside3 {
    margin-top: 55vh;
}

#aside4 {
    margin-top: 61vh;
}

#aside5 {
    margin-top: 173vh;
}

#aside6 {
    margin-top: 160vh;
}


/* ---------- End Page ---------- */
#end-body {
    overflow: hidden;
}

#end>*,
#ending>* {
    font-family: 'Redaction50';
}

#ending {
    width: 1000px;
}

#ending p:not(#credits) {
    text-indent: unset;
    font-size: 1.8em;
}

#credits {
    text-indent: unset;
    font-size: 1.4em;
}


/* -------- HEXAGONES -------- */
img.notes,
img.notes2 {
    width: 10px;
    margin-left: 1px;
}

.pattern,
.pattern2,
.pattern3 {
    position: absolute;
    z-index: 1;
    opacity: 0.55;
}

.pattern {
    width: 0.5%;
}

.pattern2 {
    width: 1%;
}

.pattern3 {
    width: 1.5%;
}


/* -------- CHECKBOXES -------- */

.container {
    font-size: 0.65em;
    line-height: 1.2;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.8em;
}

.container+.container {
    margin-top: 0.5em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0.5;
    margin: 0;
    margin-top: -0.1em;
    font: inherit;
    font-size: 1.2em;
    color: currentColor;
    width: 1.05em;
    border: none;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    transform: scale(1);
    content: "⬢";
    border: none;
}

input[type="checkbox"]:checked {
    transform: scale(1);
    opacity: 1;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--highlight);
    border-radius: 0.2em;
    width: 1.05em;
}

/* -------- ALERT BOX -------- */

#alertBox {
    width: 500px;
    height: fit-content;
    padding: 15px;
    position: fixed;
    z-index: 99;
    background-color: #fbff15;
    top: 35vh;
    left: 35vw;
    border-radius: 10px;
}

#alertBox p {
    text-indent: unset;
    margin-top: 0;
    text-align: center;
    font-size: 1em;
}

#close {
    font-family: 'Redaction100';
    position: unset;
    margin-top: 30px;
    color: black;
    text-align: center;
    width: 100%;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.alertBox-on {
    display: block;
}

.alertBox-off {
    display: none;
}